# Tuples in Python
* its immutable , ordered collecction of elements 
* defined by ()

In [4]:
t1 = (1,2,3,4)
type(t1)

tuple

In [6]:
print(t1)

(1, 2, 3, 4)

In [8]:
# Tle withh mixed data types
my_tuple = (1,"Hello", 3.14)
print(my_tuple)

(1, 'Hello', 3.14)

In [10]:
# emplty tuple
empty_tuple = ()
print(empty_tuple)

()

In [12]:
single_tuple = (1,)
print(single_tuple)

(1,)

In [16]:
int_tuple=(41)
print(int_tuple)

41

In [20]:
# nested tuple 
nested_tuple = (1,(2,3),4)
print(nested_tuple[1])

(2, 3)

In [22]:
print(nested_tuple[1][0])

2

In [24]:
# packing a tuple
person = ("John",25,"Engineer")
# unpacking tuple
name,age,profession = person
print(name)
print(age)
print(profession)

John
25
Engineer

In [45]:
# immutabliity of Tuples
my_tuple = (1,2,3)
my_tuple[1] = 222

TypeError: 'tuple' object does not support item assignment

In [61]:
my_tuple =(10,20,30,40)
for value in my_tuple:
    print(value)

10
20
30
40

In [35]:
# Slicing the values from tules
my_tuple[0:3]

(10, 20, 30)

In [39]:
my_tuple[:-2]

(10, 20)

In [47]:
my_tuple_cloning =my_tuple
my_tuple_cloning
my_tuple = my_tuple_cloning

In [55]:
# my_tuple = (50,)
my_tuple

(10, 20, 30, 40)

In [59]:
my_tuple = (50,)
my_tuple

(50,)

In [51]:
my_tuple_cloning

(1, 2, 3)

In [104]:
len(my_tuple)

4

# when to use tuples ?
1. when data should not be modified
2. Faster than lists
3. Use as Dictionary keys

In [33]:
# retur multiple values from a function
def calculate(a,b):
    return a+b,a * b
result = calculate(5,10)
print(result)
sum_result, product = result
print("Sum", sum_result)
print("Product", product)

(15, 50)
Sum 15
Product 50

# Dictionary
# defined by key, value  pairs
# dictionary is mutable
# Each key in the  dictionary is unique and immutable ( strings,numbers, tuples)

# syntax for dictionary 
my_dict = {
    "key1":"value1",
    "key2":"Value2"
}

In [66]:
person = {
    "name":"John",
    "age":30,
    "is_employed":True
}
print(person)

{'name': 'John', 'age': 30, 'is_employed': True}

In [68]:
# Accessing values
print(person["name"])

John

In [74]:
person.keys()

dict_keys(['name', 'age', 'is_employed'])

In [76]:
person.values()

dict_values(['John', 30, True])

In [106]:
person["name"] = "Alice"
person

{'name': 'Alice', 'age': 31, 'City': 'New York'}

In [108]:
person["name"] = "name1"
person

{'name': 'name1', 'age': 31, 'City': 'New York'}

In [78]:
# using get() method
print(person.get("name"))

John

In [82]:
# Adding and modifyng items 
person["City"] = "New York"
# modifying existing values
person['age']= 31
print(person)

{'name': 'John', 'age': 31, 'is_employed': True, 'City': 'New York'}

In [84]:
# removing items
person.pop("is_employed")
person

{'name': 'John', 'age': 31, 'City': 'New York'}

In [86]:
# Iterating the dcitionary 

scores = {"Math":95, "English":88, "Science":92}
print(scores)

{'Math': 95, 'English': 88, 'Science': 92}

In [96]:

# iterate through keys
for subject in scores:
    print(subject)
# iterate through keys
for score in scores.values():
    print(score)
# iterate through key value pairs
for subject, score in scores.items():
    print(f"{subject}:{score}")

Math
English
Science
95
88
92
Math:95
English:88
Science:92

In [100]:
# nested_dictionary 
student = {
    "name":"John",
    "grades":{"Math":90, "English":95}, "is_active":True
}
print(student["grades"]["Math"])

90

In [102]:
len(person)

3

In [110]:
print("name" in student)

True

In [112]:
#clear all the items
person.clear()
print(person)

{}

In [118]:
# word frequency counter
text = "apple banana apple orange banana apple banana"
words =text.split()
print(words)
word_count = {}
for word in words:
    word_count[word] = word_count.get(word,0) + 1
print(word_count)

['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'banana']
{'apple': 3, 'banana': 3, 'orange': 1}